openapi: 3.0.0
info:
  title: Udene Fraud Detection API
  version: '1.0'
  description: API for real-time fraud detection and monitoring
servers:
  - url: https://udene.net/v1
    description: Production server
paths:
  /metrics:
    get:
      summary: Get fraud detection metrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current fraud detection metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  /activity:
    get:
      summary: Get recent fraud events
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Recent fraud events and activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'

  /track:
    post:
      summary: Track user interactions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackInteractionRequest'
      responses:
        '200':
          description: Interaction tracked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackInteractionResponse'

components:
  schemas:
    MetricsResponse:
      type: object
      properties:
        riskScore:
          type: number
          format: float
        activeUsers:
          type: integer
        alertCount:
          type: integer
        apiCalls:
          type: integer
        accuracy:
          type: number
          format: float
        falsePositiveRate:
          type: number
          format: float
        avgProcessingTime:
          type: number
        concurrentCalls:
          type: integer

    ActivityResponse:
      type: object
      properties:
        activities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [suspicious, normal]
              description:
                type: string
              timestamp:
                type: string
                format: date-time

    TrackInteractionRequest:
      type: object
      properties:
        userId:
          type: string
        action:
          type: string
        metadata:
          type: object
          additionalProperties: true
      required:
        - userId
        - action

    TrackInteractionResponse:
      type: object
      properties:
        success:
          type: boolean
        transactionId:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT