
openapi: 3.0.0
info:
  title: Udene Fraud Detection API
  version: '1.0'
  description: |
    API for real-time fraud detection and monitoring.
    Provides endpoints for tracking user interactions, analyzing risk patterns,
    and retrieving fraud detection metrics.
servers:
  - url: https://udene.net/v1
    description: Production server
paths:
  /metrics:
    get:
      summary: Get fraud detection metrics
      description: |
        Retrieves current fraud detection metrics including risk scores,
        active users, alert counts, and system performance indicators.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current fraud detection metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /activity:
    get:
      summary: Get recent fraud events
      description: |
        Retrieves recent suspicious activities and fraud events.
        Events are sorted by timestamp in descending order.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Recent fraud events and activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /track:
    post:
      summary: Track user interactions
      description: |
        Records and analyzes user interactions in real-time for fraud detection.
        Supports tracking of login attempts, transactions, and user behavior patterns.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackInteractionRequest'
      responses:
        '200':
          description: Interaction tracked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackInteractionResponse'
        '400':
          description: Invalid request body
        '401':
          description: Unauthorized - Invalid or missing API key
        '429':
          description: Too many requests
        '500':
          description: Internal server error

components:
  schemas:
    MetricsResponse:
      type: object
      description: Collection of fraud detection metrics and system statistics
      properties:
        riskScore:
          type: number
          format: float
          description: Overall system risk score (0-100)
        activeUsers:
          type: integer
          description: Number of currently active users
        alertCount:
          type: integer
          description: Number of active fraud alerts
        apiCalls:
          type: integer
          description: Total API calls in the last hour
        accuracy:
          type: number
          format: float
          description: Model accuracy percentage
        falsePositiveRate:
          type: number
          format: float
          description: Current false positive rate
        avgProcessingTime:
          type: number
          description: Average request processing time in milliseconds
        concurrentCalls:
          type: integer
          description: Current number of concurrent API calls

    ActivityResponse:
      type: object
      description: Collection of recent fraud detection activities
      properties:
        activities:
          type: array
          description: List of recent activities and alerts
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for the activity
              type:
                type: string
                enum: [suspicious, normal]
                description: Activity classification
              description:
                type: string
                description: Detailed activity description
              timestamp:
                type: string
                format: date-time
                description: When the activity occurred

    TrackInteractionRequest:
      type: object
      description: User interaction data for fraud analysis
      properties:
        userId:
          type: string
          description: Unique identifier of the user
        action:
          type: string
          description: Type of interaction being tracked
        metadata:
          type: object
          description: Additional context about the interaction
          additionalProperties: true
      required:
        - userId
        - action

    TrackInteractionResponse:
      type: object
      description: Result of tracking user interaction
      properties:
        success:
          type: boolean
          description: Whether the interaction was tracked successfully
        transactionId:
          type: string
          description: Unique identifier for the tracked interaction

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained through authentication

